h1 Sign in
= form_for @conn, session_path(@conn, :create), [as: :credentials], fn f ->
  .form-group
    .form-field
      = label f, :email
      = error_tag f, :email
      = email_input f, :email
    .form-field
      = label f, :password
      = error_tag f, :password
      = password_input f, :password
  = submit "Sign in", class: "button button­primary"
