h1 Shopping Cart

= for evt <- @events do
  h2 = evt.name
  div(id="event_#{evt.id}")
    table.table
      thead
        th Date
        th Tickets
        th Total Price
      tbody
        = for performance <- @cart.performances do
          tr(id="performance_#{performance.id}")
            td = performance.start_time.to_date.to_s(:long)
            td.ticket_count = @cart.performance_count[performance.id]
            td.subtotal = @cart.subtotal_for(performance)
h3 Total #{@cart.total_cost}
