h1 = @event.name

h2 Available Performances
= for performance <- @event.performances do
  div(id="performance_#{performance.id}")
    .row
      = form_tag("/shopping_cart", method: :patch) do
        input name='performance_id' as='hidden' value=performance.id
        .col-md-2
          h4= NaiveDateTime.to_date(performance.start_time) |> to_string
        .col-md-1
          .form-group
            = select(nil, :ticket_count, 1..10, [selected: 1, class: "form-control"])
        .col-md-3
          .form-group
            = submit("Add to cart", class: "btn btn-primary", id: "add-to-cart")
